.body {
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;

    height: 800px;
}

.head {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    height: 30px;
    display: flex;
    align-items: center;
    background-color: #add7ff;
}

.content {
    border: 2px solid #add7ff;
    border-radius: 5px;
    margin-top: 5%;
    height: 80%;
}