.body {
    height: 1024px;
}


.protitle {
    margin-top: 7%;
    margin-left: 20%;
    margin-right: 20%;
}

.tinput {
    width:100%;
    height: 40px;
}

.underline {
    width:100%;
    margin-top:3%;
    margin-bottom: 3%;
    
    border: 1px solid;
}

.info1 {
    margin-top: 2.5%;
    margin-left: 20%;
    margin-right: 20%;

    display: flex;
    flex-direction: row;
    align-items: center;
}



.memnumber {
    margin-right: 2%;
}

.numinput {
    margin-right: 24%;
    width: 5%;
    height: 20px;
}




.underline2 {
    /* width:100%; */
    margin-top:3%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;
    
    border: 1px solid;
}

.explain {
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 22%;                      /*?��?��??? ?��같�???�� ?���? margin-right?�� 20?���? ?��?�� ?�� ?��맞음*/
}

.projectexplain {
    width: 100%;
    height: 550px;
    padding: 15px;
    font-size: 18px;
    resize: none;
}

.btn {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

.createbtn {
    margin-left: 39%;
    width: 70px;
    height: 25px;
    border: none;
    border-radius:20px;
    color: white;
    background-color: #41A4FF;
    cursor: pointer;
}

.cancelbtn {
    margin-left: 6%;
    width: 70px;
    height: 25px;
    border: none;
    border-radius:20px;
    color: white;
    background-color: #41A4FF;
    cursor: pointer;
}